<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- obtengo el layout ubicado en helpers/layout::head  -->
  <head th:replace="helpers/layout::head"> </head>

  <body style="overflow-x: hidden">
    <nav th:replace="helpers/layout::menu"></nav>
    <div class="row justify-content-center my-4">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4 animate__animated animate__pulse">
            <div class="card">
              <div class="card-header text-center">Listado de Citas</div>
              <!-- le indica que la imagen www.ejemplo.com/medico.png -->
              <img
                th:src="@{/medico.png}"
                alt=""
                class="p-4 mx-auto"
                style="height: 100px"
                width="100px"
              />
              <div class="card-body">
                <!-- la action es la url con la cual se quiere comunicar -->
                <!-- el objecto citaNew es el objeto vacio que sera rellenado por el usuario -->
                <form
                  th:action="@{/citas}"
                  method="post"
                  th:object="${citaNew}"
                >
                <!-- cada propiedad con th:field le indica que es parte del objeto citaNew -->
                  <div class="form-group">
                    <label for="nombre">Ingrese descripcion :</label>
                    <textarea
                      type="text"
                      th:field="*{descripcion}"
                      class="form-control"
                      id="descripcion"
                      required
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="fechaVencimiento">Ingrese fecha:</label>
                    <input
                      th:field="*{fecha}"
                      type="date"
                      class="form-control"
                      id="fecha"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Seleccione Paciente</label>
                    <select
                      class="form-control"
                      name=""
                      th:field="*{idPaciente}"
                      id=""
                    >
                      <option
                        th:each=" paciente : ${pacientes}"
                        th:value="${paciente.idPaciente}"
                        th:text="${paciente.nombre}"
                      ></option>
                    </select>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary w-100"
                    style="border-radius: 15px"
                  >
                    Guardar
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-8 animate__animated animate__swing">
            <table class="table table-striped">
              <thead class="">
                <tr>
                  <th>Descripcion</th>
                  <th>Nombre Paciente</th>
                  <th>Edad Paciente</th>
                  <th>Fecha</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <!-- se envio una variable 'citas' desde el controlador ahora se recorrera -->
              <tbody>
                <tr th:each=" cita : ${citas}">
                  <td th:text="${cita.descripcion}"></td>
                  <td th:text="${cita.paciente.nombre}"></td>
                  <td th:text="${cita.paciente.edad}"></td>
                  <td th:text="${cita.fecha}"></td>
                  <td class="d-flex justify-content-center align-items-center">
                    <!-- se forman los lins apuntando a mi controlador -->
                    <a
                      class="btn btn-primary btn-sm mx-1"
                      th:href="@{'citas/details/' + ${cita.idCita}}"
                      role="button"
                      >Ver</a
                    >

                    <!-- <a
                      class="btn btn-warning btn-sm mx-1"
                      th:href="@{'citas/delete/' + ${cita.idCita}}"
                      role="button"
                      >Eliminar</a
                    > -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
